.position {
  position: relative;
}
.imgDiv {
  overflow: hidden;
}
.imgGirl {
  position: absolute;
  top: -19rem;
  left: -1rem;
  z-index: 100;
  border-radius: 0 0 0 15%;
}
.imgContainerMobile,
.imgGirlMobile {
  display: none;
}

@media (max-width: 900px) {
  .imgContainer,
  .imgDiv {
    display: none;
  }
  .imgContainerMobile {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .imgGirlMobile {
    position: absolute;
    top: -125px;
  }
}
